.container{
    display: flex;
    border: 1px solid cadetblue;
    padding: 20px 100px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}
.information h3{
    margin: 30px 100px;
    color: rgb(64, 79, 116);
}
.information h2{
    margin: 30px 100px;
    color: rgb(170, 43, 43);
    font-weight: 700
}
.container img{
    height: 150px;
    border: 2px solid rgb(2, 17, 65);
    border-radius: 100px;
    margin-top: 170px;
    cursor: pointer;
}
button{
    margin: 30px 100px;
    height: 38px;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(10, 132, 141);
    border: none;
    color: whitesmoke;
    cursor: pointer;
}
